@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
$color-1: #DAF3CC;
$color-2: #272826;
$color-3: #618978;

* {
  font-family: 'Amatic SC';
  // background-color: $color-1;
}

// COLORS
.color-1 {
  color: $color-1;
}
.color-2 {
  color: $color-2;
}
.color-3 {
  color: $color-3;
}

.stone-bg {
  background-image: url('../assets/background.svg');
}

.header {
  background-color: #5A565D;
  padding-left: 10vh;

  h1 {
    font-size: 55px;
  }
}

.page {
  height: max(700px, 100vh);
  width: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: transparent;
}

.feature-card {
  background-color: white;
  border-radius: 10px;
  text-align: center;
  margin: 100px auto;
  padding-top: 20px;

  p {
    font-size: 30px;
  
  }
}

.footer {
  padding-bottom: 1px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: transparent;

  p {
    font-size: 12px;
  }
}