@import "../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
$color-1: #5A565D;
$color-2: #e9cda6;
$color-3: #7a3e0e;
$color-4: #966237;

* {
  font-family: 'Amatic SC';
}

.stone-bg {
  background-image: url('../assets/background.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  background-color: $color-1;
  padding: 0% 10vh;
  position: sticky;
  top: 0;
  z-index: 100;

  h1 {
    font-size: 55px;
  }
}

.page {
  height: max(700px, 100vh);
  width: fit-content;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: transparent;
}

.feature-card {
  background-color: $color-2;
  border: 25px solid;
  border-image: repeating-linear-gradient(45deg, $color-3, $color-4, $color-3 65px) 60;
  text-align: center;
  margin: 100px auto;
  padding-top: 20px;

  button {
    font-size: 1.25vw;
  }

  h1 {
    font-size: 2.75vw;
  }

  h2 {
    font-size: 2vw;
  }

  p {
    font-size: 1.5vw;
    margin-bottom: 4%;
  }
}

.poster {
  background-image: url('../assets/tokens/scroll.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  min-height: 20vw;
  min-width: auto;
  display: flex;

  img {
    margin: auto;
    rotate: 20deg;
    max-width: 8vw;
    position: relative;
    z-index: 99;
    left: 5px;
  }
}

.ministats {
  margin: 50px;
  width: 60vw;

  .download {
    display: inline-block;
    padding: 10px;
  }

  .legendary {
    max-width: 125px;
    border: 3px dashed #e49400;
    border-radius: 5px;
    margin-bottom: 5px;
  }

  button {
    margin: 0.5vw;
  }
}

.footer {
  padding-bottom: 1px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: transparent;

  p {
    font-size: 12px;
  }
}

// media queries
@media screen and (max-width: 1440px){
  .feature-card {
    button {
      font-size: 1.5vw;
    }
  }
  .ministats {
    button {
      margin: 0.75vw;
    }

    .legendary {
      border-width: 2.5px;
      max-width: 100px;
    }
  }
}

@media screen and (max-width: 992px){
  .header {
    margin-bottom: 2%;
  }

  .feature-card {
    button {
      font-size: 2vw;
    }
    h1 {
      font-size: 3.5vw;  
    }
  
    h2 {
      font-size: 2.5vw;  
    }
  
    p {
      font-size: 2vw;  
    }  
  }

  .poster {
    min-height: 15vw;

    img {
      max-width: 8vw;
    }
  }

  .ministats {
    margin: auto;
    width: 80vw;

    .download {
      display: inline-flex;
    }

    .legendary {
      border-width: 2px;
      max-width: 95px;
    }
    
    button {
      margin: 0.75vw;
    }
  }
  
}

@media screen and (max-width: 768px){
  .header {
    h1 {
      font-size: 8.5vw;
    }
  }

  .feature-card {
    button {
      font-size: 2.5vw;
    }

    h1 {
      font-size: 5vw;  
    }
  
    h2 {
      font-size: 3.5vw;  
    }
  
    p {
      font-size: 2vw;  
    }  
  }
  
  .poster {
    min-height: 30vw;

    img {
      max-width: 15vw;
    }
  }

  .ministats {
    width: 70vw;

    .download {
      padding: 0;
    }
    
    .legendary {
      border-width: 1.5px;
      max-width: 80px;
    }
    
    button {
      margin: 1vw;
    }
  }
}

@media screen and (max-width: 576px){
  .header {
    h1 {
      font-size: 8vw;
    }
  }

  .feature-card {
    button {
      font-size: 3vw;
    }

    h1 {
      font-size: 5.25vw;  
    }
  
    h2 {
      font-size: 4.5vw;  
    }
  
    p {
      font-size: 3.25vw;  
    }  
  }

  .poster {
    min-height: 35vw;
  }

  .ministats {
    width: 80vw;

    .legendary {
      border-width: 1px;
      max-width: 70px;
    }
  }
}